body {
    width:100%;
    height:100vh;
    font-family: 'Nova Flat', 'Microsoft JhengHei';
    background-image: url("../images/bg.jpg");
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; 
    
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
body::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(18, 39, 137, .7);
}

.cus-main {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column;
    flex-flow: column;
    
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
    
    width: 100%;
    height: auto;
    padding: 7px;
    color: #fff;
    z-index: 999;
}

#offer-price {
    font-size:10em;
    padding:10px;
}
.cus-main a{color:#ccc;}
.btn-new{color:#fff;background-color:#2d4dab;}
.btn-new.focus,.btn-new:focus{color:#fff;background-color:#2d4dab;outline: none;border-color: transparent; box-shadow:none;}
.cus-main a:hover,.cus-main a:active,.btn-new:hover,.btn-new:active{color:#fff;background-image:-webkit-linear-gradient(52deg,#2d4dab 0%,#fa691a 39%,#f01826 120%);background-image:-o-linear-gradient(52deg,#2d4dab 0%,#fa691a 39%,#f01826 120%);background-image:-moz-linear-gradient(52deg,#2d4dab 0%,#fa691a 39%,#f01826 120%);background-image:linear-gradient(52deg,#2d4dab 0%,#fa691a 39%,#f01826 120%);}
