a:link {
color: #000000;
text-decoration: none;
} /* 未被访问的链接 黑色 */
a:visited {
color: #000000;
text-decoration: none} /* 已被访问过的链接 绿色 */
a:hover {
color: #000000;
text-decoration: none;} /* 鼠标悬浮在上的链接 橙色 */
a:active {
color: #000000;
text-decoration: none} /* 鼠标点中激活链接 红色 */


* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 800px) {
  #header {
    position: fixed;
    width: 100%;
  }
  #logo-container {
    text-align: center;
    padding: 40px 0;
  }
  #controller-container {
    padding: 0px 30px 30px;
  }
  #results,
  #examples {
    padding-top: 175px;
  }
}
@media screen and (min-width: 801px) {
  #header {
    position: fixed;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
  }
  #logo-container {
    display: -ms-flexbox;
    display: flex;
    padding: 10px 40px 10px 0;
  }
  #controller-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
        flex-grow: 1;
    max-width: 600px;
    -ms-flex-align: center;
        align-items: center;
  }
  #controller {
    -ms-flex-positive: 1;
        flex-grow: 1;
  }
  #results,
  #examples {
    padding-top: 80px;
  }
}
#header {
  box-shadow: 0 1px 3px rgba(203, 203, 203, 0.1), 0 1px 3px rgba(203, 203, 203, 0.2);
  border-bottom: 1px solid #cbcbcb;
  background: #fff;
}
#logo {
  height: 50px;
}
#controller {
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}
#search-input {
  -ms-flex-positive: 1;
      flex-grow: 1;
  height: 40px;
  border: 1px solid #cc0000;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  outline: none;
  padding: 5px 15px;
  font-size: 16px;
  background: rgba(203, 203, 203, 0.2);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
#help-button {
  width: 40px;
  height: 40px;
  border: none;
  background: #cc0000;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  outline: none;
  cursor: pointer;
}
.result-item {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 40px;
  border-bottom: 1px solid #eee;
  line-height: 20px;
}
.result-word {
  display: inline-block;
  height: 20px;
  margin-right: 15px;
  font-weight: bold;
  font-size: 16px;
}
.result-pron {
  display: inline-block;
  font-family: arial, sans-serif;
  height: 20px;
  margin-right: 10px;
  font-size: 16px;
}
#results {
  display: none;
}
.result-play-button {
  border: none;
  background: transparent;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  outline: none;
  vertical-align: top;
}
.result-play-button img {
  width: 20px;
  height: 20px;
}
.result-definition {
  display: block;
  margin-top: 5px;
  font-size: 14px;
}
.no-result {
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
}
#readmore-container {
  text-align: center;
}
#readmore-button {
  border: none;
  outline: none;
  padding: 10px 15px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  background: #cc0000;
  margin: 30px 0;
  cursor: pointer;
}
#examples {
  max-width: 800px;
  margin: auto;
}
.example-section {
  padding: 10px 25px;
  border-bottom: 1px solid #eee;
}
.example-title {
  font-size: 22px;
}
.example-subtitle {
  font-size: 18px;
}
.example-content {
  line-height: 1.7;
}


.footer {
    font-size: 13px;
    font-family: Georgia;
    font-style: italic;
    /* font-weight: 700; */
    text-align: center;
    color: #797979;
    margin: 1.5em auto;
    text-shadow: 0 1px 0 #eee;
    display: block;
    text-transform: capitalize;
}
.footer a {
    color: #797979;
    text-decoration: none;
}
